.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    gap: 50px;
  }
.grid-item {
    background-color: var(--main);    
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 5vh;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}