.navBar{
    background-color: var(--main);
    text-align: left;
    font-size: large;
}

.barContent{
    color: var(--main-backgorund);
    margin-left: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

}

.element{
    margin-right: 5vw;
    text-decoration: none;
    border-radius: 30px;
    border-color: transparent;
    background-color: lightgray;
    transition: 0.3s;

}

.element:hover{
    background-color: var(--main);
    color: white;
}

/* Slider CSS */

.toggle-button {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    border-radius: 3px;
  }

.toggle-button.on {
    background-color: black;
    color: white;
}

.toggle-button.off {
    background-color: white;
    color: black;
}