.navBar{
    background-color: #61dafb;
    text-align: left;
    font-size: large;
}

.barContent{
    color: #282c34;
    margin-left: 5vw;
    padding-top: 1vh;
    padding-bottom: 1vh;

}

.element{
    margin-right: 5vw;
    text-decoration: none;
    border-radius: 30px;
    border-color: transparent;
    background-color: lightgray;
    transition: 0.3s;

}

.element:hover{
    background-color: #61dafb;
    color: white;
}